[flake8]
# These warnings and errors are ignored to accept black code style:
# - E501: line to long
# - E203 whitespace before ':'
# - W503: line break before binary operator
ignore = E501,E203,W503

show_source = true
statistics = true
