" Local vim configuration for ramen
"
" Using this file in vim
" -----------------------
"
" 1. Copy this file to .vimrc
" 2. Enable loading vimrc from current directory in your ~/.vimrc
"
"    set exrc
"    set secure
"

augroup black_on_save
  autocmd!
  autocmd BufWritePre * if &filetype == 'python'|execute ':Black'|endif
augroup end
