[Unit]
Description=Registry container

[Container]
Label=app=registry
ContainerName=registry
Image=docker.io/library/registry:3
PublishPort=5050:5000
Volume=registry.volume:/var/lib/registry

[Install]
WantedBy=multi-user.target default.target
