# Configuration for RamenDR End to End testing.

---
# Namespace where the channel CR will be created.
channelnamespace: "e2e-gitops"

# Git repository URL containing application manifests to be deployed on
# the clusters.
giturl: "https://github.com/RamenDR/ocm-ramen-samples.git"

# List of PVC specifications for workloads.
# These define storage configurations, such as 'storageClassName' and
# 'accessModes', and are used to kustomize workloads.
pvcspecs:
  - name: rbd
    storageclassname: rook-ceph-block
    accessmodes: ReadWriteOnce
  - name: cephfs
    storageclassname: rook-cephfs-test-fs1
    accessmodes: ReadWriteMany

# Sample cluster configurations:
# Uncomment and edit the following lines to provide the kubeconfig paths
# for your test clusters.
# Clusters:
#   c1:
#     kubeconfigpath: /path/to/kubeconfig/c1
#   c2:
#     kubeconfigpath: /path/to/kubeconfig/c2
#   hub:
#     kubeconfigpath: /path/to/kubeconfig/hub
