---
channelname: "ramen-gitops"
channelnamespace: "ramen-samples"
giturl: "https://github.com/RamenDR/ocm-ramen-samples.git"
pvcspecs:
  - name: rbd
    storageclassname: rook-ceph-block
    accessmodes: ReadWriteOnce
  - name: cephfs
    storageclassname: rook-cephfs-test-fs1
    accessmodes: ReadWriteMany
