# Configuration for RamenDR End to End testing.

---
# Git repository url and branch containing application manifests
# to be deployed on the clusters.
repo:
  url: "https://github.com/RamenDR/ocm-ramen-samples.git"
  branch: main

# DRPolicy name in the hub cluster.
drPolicy: dr-policy

# Add ClusterSet name to match your Open Cluster Management configuration.
clusterSet: default

# List of PVC specifications for workloads.
# These define storage configurations, such as 'storageClassName' and
# 'accessModes', and are used to kustomize workloads.
pvcspecs:
  - name: rbd
    storageclassname: rook-ceph-block
    accessmodes: ReadWriteOnce
  - name: cephfs
    storageclassname: rook-cephfs-fs1
    accessmodes: ReadWriteMany

# List of Deployer specifications.
# These define the configuration values for different deployers.
# Available types: appset, subscr, disapp
deployers:
  - name: appset
    type: appset
    description: "ApplicationSet deployer for ArgoCD"
  - name: subscr
    type: subscr
    description: "Subscription deployer for OCM subscriptions"
  - name: disapp
    type: disapp
    description: "Discovered Application deployer for discovered applications"
  - name: disapp-recipe
    type: disapp
    recipe:
      type: generate
    description: "Discovered Application deployer using a generated recipe"
  - name: disapp-recipe-check
    type: disapp
    recipe:
      type: generate
      checkHook: true
    description: "Discovered Application deployer using a generated recipe
    with check hooks"
  - name: disapp-recipe-exec
    type: disapp
    recipe:
      type: generate
      execHook: true
    description: "Discovered Application deployer using a generated recipe
    with exec hooks"
  - name: disapp-recipe-check-exec
    type: disapp
    recipe:
      type: generate
      checkHook: true
      execHook: true
    description: "Discovered Application deployer using a generated recipe
    with check and exec hooks"

# List to tests to run.
# Available workloads: deploy
# Deployer should be the name of the deployer to use from the deployers list.
# Test names are generated as "{deployer}-{workload}-{pvcspec}".
tests:
  - deployer: appset
    workload: deploy
    pvcspec: rbd
  - deployer: appset
    workload: deploy
    pvcspec: cephfs
  - deployer: subscr
    workload: deploy
    pvcspec: rbd
  - deployer: subscr
    workload: deploy
    pvcspec: cephfs
  - deployer: disapp
    workload: deploy
    pvcspec: rbd
  - deployer: disapp
    workload: deploy
    pvcspec: cephfs
  - deployer: disapp-recipe-check-exec
    workload: deploy
    pvcspec: rbd
  - deployer: disapp-recipe-check-exec
    workload: deploy
    pvcspec: cephfs

# Sample cluster configurations:
# Uncomment and edit the following lines to set the cluster
# kubeconfig paths for the hub and managed clusters.
# clusters:
#   hub:
#     kubeconfig: hub/config
#   c1:
#     kubeconfig: dr1/config
#   c2:
#     kubeconfig: dr2/config
