# Configuration specifying various combinations of discovered apps with recipe for RamenDR End to End testing.

---

# List of Deployer specifications.
# These define the configuration values for different deployers.
# Available types: appset, subscr, disapp
deployers:
  - name: disapp
    type: disapp
    description: "Discovered Application deployer for discovered applications"
  - name: disapp-recipe
    type: disapp
    recipe:
      type: generate
    description: "Discovered Application deployer using a generated recipe"
  - name: disapp-recipe-check
    type: disapp
    recipe:
      type: generate
      checkHook: true
    description: "Discovered Application deployer using a generated recipe
    with check hooks"
  - name: disapp-recipe-exec
    type: disapp
    recipe:
      type: generate
      execHook: true
    description: "Discovered Application deployer using a generated recipe
    with exec hooks"
  - name: disapp-recipe-check-exec
    type: disapp
    recipe:
      type: generate
      checkHook: true
      execHook: true
    description: "Discovered Application deployer using a generated recipe
    with check and exec hooks"

# List to tests to run.
# Available workloads: deploy
# Deployer should be the name of the deployer to use from the deployers list.
# Test names are generated as "{deployer}-{workload}-{pvcspec}".
tests:
  - deployer: disapp-recipe
    workload: deploy
    pvcspec: rbd
  - deployer: disapp-recipe
    workload: deploy
    pvcspec: cephfs
  - deployer: disapp-recipe-check
    workload: deploy
    pvcspec: rbd
  - deployer: disapp-recipe-check
    workload: deploy
    pvcspec: cephfs
  - deployer: disapp-recipe-exec
    workload: deploy
    pvcspec: rbd
  - deployer: disapp-recipe-exec
    workload: deploy
    pvcspec: rbd
  - deployer: disapp-recipe-check-exec
    workload: deploy
    pvcspec: rbd
  - deployer: disapp-recipe-check-exec
    workload: deploy
    pvcspec: cephfs
