# Configuration for RamenDR End to End testing with virtual machines.

---
# Git repository url and branch containing application manifests
# to be deployed on the clusters.
repo:
  url: "https://github.com/RamenDR/ocm-ramen-samples.git"
  branch: main

# DRPolicy name in the hub cluster.
drPolicy: dr-policy-1m

# Add ClusterSet name to match your Open Cluster Management configuration.
clusterSet: default

# List of PVC specifications for workloads.
# These define storage configurations, such as 'storageClassName' and
# 'accessModes', and are used to kustomize workloads.
pvcspecs:
  - name: rbd
    storageclassname: rook-ceph-block
    accessmodes: ReadWriteOnce

# List to tests to run.
# Available workloads: deploy
# Available deployers: appset, subscr, disapp
# Test names are generated as "{deployer}-{workload}-{pvcspec}".
tests:
  - deployer: disapp
    workload: vm-pvc
    pvcspec: rbd
  - deployer: appset
    workload: vm-pvc
    pvcspec: rbd
  - deployer: subscr
    workload: vm-pvc
    pvcspec: rbd

# Sample cluster configurations:
# Uncomment and edit the following lines to set the cluster
# kubeconfig paths for the hub and managed clusters.
# clusters:
#   hub:
#     kubeconfig: hub/config
#   c1:
#     kubeconfig: dr1/config
#   c2:
#     kubeconfig: dr2/config
