apiVersion: ramendr.openshift.io/v1alpha1
kind: RamenConfig
health:
  healthProbeBindAddress: :8081
metrics:
  bindAddress: 127.0.0.1:9289
webhook:
  port: 9443
leaderElection:
  leaderElect: true
  resourceName: leaderelection.ramendr.openshift.io
s3StoreProfiles:
  - s3ProfileName: s3-profile-of-east
    s3CompatibleEndpoint: http://rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.east:80
    s3Region: east
    s3SecretRef:
      name: s3-secret-east
      namespace: default
  - s3ProfileName: s3-profile-of-west
    s3Region: west
    s3CompatibleEndpoint: http://rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.west:80
    s3SecretRef:
      name: s3-secret-west
      namespace: default
drClusterOperator:
  deploymentAutomationEnabled: true
  channelName: alpha
  packageName: ramen-dr-cluster-operator
  namespaceName: ramen-system
  catalogSourceName: ramen-catalog
  catalogSourceNamespaceName: ramen-system
  clusterServiceVersionName: ramen-dr-cluster-operator.v0.0.1
