apiVersion: ramendr.openshift.io/v1alpha1
kind: RamenConfig
health:
  healthProbeBindAddress: :8081
metrics:
  bindAddress: 127.0.0.1:9289
webhook:
  port: 9443
leaderElection:
  leaderElect: true
  resourceName: leaderelection.ramendr.openshift.io
  resourceNamespace: ramen-system
s3StoreProfiles:
  - profileName: s3store-example1
    s3CompatibleEndpoint: http://rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.local:80
    s3Region: east
    s3SecretRef:
      name: example-secret1
      namespace: default
  - profileName: s3store-example2
    s3Region: west
    s3CompatibleEndpoint: http://rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.remote:80
    s3SecretRef:
      name: example-secret2
      namespace: default

