# SPDX-FileCopyrightText: The RamenDR authors
# SPDX-License-Identifier: Apache-2.0

# This is a starting point for developers that want to use ramen minikube based
# test environment with extenral storage.
#
# You need to implement "my-external-storage" component, deploying the external
# storage drivers in my-external-storage/start hook.
#
---
name: "rdr-external"

templates:
  - name: "dr-cluster"
    driver: $vm
    container_runtime: containerd
    network: $network
    memory: "4g"
    workers:
      - addons:
          - name: ocm-cluster
            args: ["$name", "hub"]
          - name: recipe
      - addons:
          - name: cert-manager
          - name: csi-addons
          - name: olm
          - name: minio
      - addons:
          - name: my-external-storage
  - name: "hub-cluster"
    driver: $vm
    container_runtime: containerd
    network: $network
    memory: "4g"
    workers:
      - addons:
          - name: ocm-hub
          - name: ocm-controller
          - name: cert-manager
          - name: olm

profiles:
  - name: "dr1"
    template: "dr-cluster"
  - name: "dr2"
    template: "dr-cluster"
  - name: "hub"
    template: "hub-cluster"
