
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: applicationvolumereplications.ramendr.openshift.io
spec:
  group: ramendr.openshift.io
  names:
    kind: ApplicationVolumeReplication
    listKind: ApplicationVolumeReplicationList
    plural: applicationvolumereplications
    singular: applicationvolumereplication
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ApplicationVolumeReplication is the Schema for the applicationvolumereplications
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ApplicationVolumeReplicationSpec defines the desired state
              of ApplicationVolumeReplication
            properties:
              drEnabledSubscriptions:
                additionalProperties:
                  description: Action that will be taken by Ramen when a subscription
                    is paused
                  enum:
                  - Failover
                  - Failback
                  type: string
                description: DREnabledSubscriptions holds Subscription name as the
                  key and an Action as the value
                type: object
              pvcSelector:
                description: Label selector to identify all the PVCs that need DR
                  protection. This selector is assumed to be the same for all subscriptions
                  that need DR protection. It will be passed in to the VRG when it
                  is created
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
              s3Endpoint:
                description: S3 Endpoint to replicate PV metadata; this is for all
                  VRGs. The value of this field, will be progated to every VRG. See
                  VRG spec for more details.
                type: string
              s3Region:
                description: 'S3 Region: https://docs.aws.amazon.com/general/latest/gr/rande.html'
                type: string
              s3SecretName:
                description: 'Name of k8s secret that contains the credentials to
                  access the S3 endpoint. If S3Endpoint is used, also specify the
                  k8s secret that contains the S3 access key id and secret access
                  key set using the keys: AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY.  The
                  value of this field, will be progated to every VRG. See VRG spec
                  for more details.'
                type: string
              subscriptionSelector:
                description: Label selector to identify all the subscriptions that
                  belong to an application that needs DR protection. This selection
                  is needed to select subscriptions on the hub
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
            required:
            - pvcSelector
            - s3Endpoint
            - s3Region
            - s3SecretName
            - subscriptionSelector
            type: object
          status:
            description: ApplicationVolumeReplicationStatus defines the observed state
              of ApplicationVolumeReplication
            properties:
              decisions:
                additionalProperties:
                  description: SubscriptionPlacementDecision lists each subscription
                    with its home and peer clusters
                  properties:
                    homeCluster:
                      type: string
                    peerCluster:
                      type: string
                    prevHomeCluster:
                      type: string
                  type: object
                description: SubscriptionPlacementDecisionMap defines per subscription
                  placement decision, key is subscription name
                type: object
              lastKnownDRStates:
                additionalProperties:
                  description: DRState for each subscription
                  enum:
                  - Initial
                  - Failing-over
                  - Failed-over
                  - Failing-back
                  - Failed-back
                  type: string
                description: LastKnownDRStateMap defines per subscription the last
                  state, key is subscription name
                type: object
              lastUpdateTime:
                format: date-time
                type: string
            required:
            - lastUpdateTime
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
