
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: volumereplicationgroups.ramendr.openshift.io
spec:
  group: ramendr.openshift.io
  names:
    kind: VolumeReplicationGroup
    listKind: VolumeReplicationGroupList
    plural: volumereplicationgroups
    singular: volumereplicationgroup
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VolumeReplicationGroup is the Schema for the volumereplicationgroups
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VolumeReplicationGroupSpec defines the desired state of VolumeReplicationGroup
            properties:
              affinedCluster:
                description: Cluster ID in ClusterPeers that has best storage performance
                  affinity for the application
                type: string
              applicationLabels:
                description: Application label that is used to identify its PVs
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
              applicationName:
                description: Name of the application to replicate
                type: string
              asyncRPOGoalSeconds:
                description: WAN DR RPO goal in seconds
                format: int64
                type: integer
              clusterPeersList:
                description: 'List of ClusterPeers For Metro DR only: a single ClusterPeers
                  For WAN DR only: one or more ClusterPeers For MetroDR and WAN DR:
                  one Metro DR ClusterPeer and one or more WAN DR ClusterPeers.'
                items:
                  type: string
                type: array
              desiredCluster:
                description: 'Desired cluster that should takeover the application
                  from current active cluster. May be set either to: - secondary cluster
                  ID (to migrate application or takeover application in case of a
                  disaster) - nil (if application is not active in the affined cluster,
                  takeback to affined cluster)'
                type: string
              volumeTakeoverControl:
                description: 'Volume Takeover Control: ForcePromote'
                type: string
            required:
            - affinedCluster
            - applicationLabels
            - applicationName
            - clusterPeersList
            type: object
          status:
            description: VolumeReplicationGroupStatus defines the observed state of
              VolumeReplicationGroup
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
